
.icon-3d-square-1:before { content: '\e800';  } /* '' */
.icon-discount-shape-1:before { content: '\e801'; } /* '' */
.icon-key-square:before { content: '\e802'; } /* '' */
.icon-message-question-1:before { content: '\e803'; } /* '' */
.icon-user-square-1:before { content: '\e804'; } /* '' */
.icon-wallet-money-2:before { content: '\e805'; } /* '' */
.icon-chevron-right-2:before { content: '\e806'; } /* '' */
